@media (max-width: 1023px) {
  .container {
    display: grid;
    width: 96%;
    margin: auto;
    grid-template-columns: 1fr;
    border: 10px solid blue;
  }
  .container > div {
    border: 7px solid blue;
  }
  .item {
    padding: 10px;
  }
  .item > h2 {
    margin-bottom: 0px;
    border-bottom: 1px solid #7f8a7f;
    padding-bottom: 10px;
    color: rgb(54, 97, 216);
    font-size: 30px;
  }
  .goal-icon,
  .member-icon,
  .primary-icon {
    display: block;
    border-bottom: 1px solid rgb(88, 163, 120, 0.2);
  }
  .member-border,
  .primary-boder {
    border-bottom: none;
  }
  .icon {
    margin: 21.28px 25px;
    font-size: 30px;
    text-align: center;
  }
  .goal-p > h4,
  .member-p > h4,
  .timeline-p > h4 {
    margin-bottom: 0px;
    margin-top: 5px;
  }
  .goal-p > p,
  .member-p > p,
  .timeline-p > p {
    margin-top: 5px;
  }

  .time-line {
    display: grid;
    grid-template-columns: auto;
    justify-content: flex-start;
  }
  .timeline-p {
    border-bottom: 1px dashed rgb(64, 100, 10);
  }
  .same-icon {
    width: 40px;
    height: 40px;
    margin: 20px auto 0 0;
    align-self: center;
    background-color: rgb(158, 123, 192);
    padding: 5px;
    border: 2px solid rgb(133, 133, 125);
    border-radius: 50%;
  }
}
